<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tantan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tantan">
        <activity android:name=".MainActivity" android:label="@string/app_name">
        </activity>

        //21.02.18 hr splash 화면 코딩
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--menu2-->
        <activity android:name=".ui.menu_community.CommunityDetail"/>

        <!--menu3-->
        <activity android:name=".ui.menu_add.menu_addrun"/>
        <activity android:name=".ui.menu_add.menu_addmeal"/>
        <activity android:name=".ui.menu_add.menu_addbody"/>
        <activity android:name=".ui.menu_add.menu_addwater"/>

        <!--menu4-->
        <activity android:name=".ui.menu_setting.PrivatePage"/>
        <activity android:name=".ui.menu_setting.LoginPage"/>
        <activity android:name=".ui.menu_setting.ConnectPage"/>
        <activity android:name=".ui.menu_setting.HelpPage"/>
        <activity android:name=".ui.menu_setting.JoinPage"/>
        <activity android:name=".ui.menu_setting.JoinPage2"/>
        <activity android:name=".ui.menu_setting.NickNamePage"/>
        <activity android:name=".ui.menu_setting.NoticePage"/>
        <activity android:name=".ui.menu_setting.PassWordPage"/>
        <activity android:name=".ui.menu_setting.PassWordFindPage"/>
        <activity android:name=".ui.menu_setting.FeedBackPage"/>
        <activity android:name=".ui.menu_setting.Help2Page"/>
        <activity android:name=".ui.menu_setting.Notice2Page"/>
        <activity android:name=".ui.menu_setting.PopUpButton1" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>